<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"\
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"\
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <title>Mars Info</title>
</head>
<body>
<div class="jumbotron text-center">
    <h2 style="text-align: center;"><strong> CURRENT MARS INFO </strong></h2>
    <p style="text-align: center;">
        <a class="btn btn-primary btn-sm" href="/scrape" role="button"><strong>Scrape Mars Data</strong>
        </a>
    </p>

</div>

<div class="container">
    
	<!--  row 1     -->
    <div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                   <h2>Mars News</h2>
				   <hr>
                   <h4>{{mars_data.News_Title}}</h4>
                   <p>{{mars_data.News_Summary}}</p>
				</div>
			</div>
        </div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                   <h2>Mars Weather Tweet</h2>
                   <hr>
                   <h4>{{mars_data.weather_info}}</h4>
				</div>
			</div>
        </div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                   <h2>Interesting Mars Facts</h2>
                   <hr>
                   <p>{{mars_data.facts_table | safe}}</p>
				</div>
			</div>
        </div>
    </div>

	<!--  row 2     -->
    <div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                   <h2>Featured Mars Image</h2>
                   <hr>
                   <img src="{{mars_data.Featured_Image_Link}}" alt="Featured Mars Image">
				</div>
			</div>
        </div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                    <h2>Hemispheres</h2>
                    <a href="{{mars_data['Hemisphere_data'][0]['img_urls']}}" class="thumbnail">
						<img src="{{mars_data['Hemisphere_data'][0]['img_urls']}}" alt="">
                        <h4 style="text-align: left">{{mars_data.Hemisphere_data[0].hem_title}}</h4>
                    </a>
				</div>
			</div>
        </div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                    <h2>Hemispheres</h2>
                    <a href="{{mars_data['Hemisphere_data'][1]['img_urls']}}" class="thumbnail">
						<img src="{{mars_data['Hemisphere_data'][1]['img_urls']}}" alt="">
                        <h4 style="text-align: left">{{mars_data.Hemisphere_data[1].hem_title}}</h4>
                    </a>
				</div>
			</div>
        </div>
    </div>

	<!--  row 3     -->
    <div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
 				</div>
			</div>
        </div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                    <h2>Mars Hemispheres</h2>
                    <a href="{{mars_data['Hemisphere_data'][2]['img_urls']}}" class="thumbnail">
						<img src="{{mars_data['Hemisphere_data'][2]['img_urls']}}" alt="">
                        <h4 style="text-align: left">{{mars_data.Hemisphere_data[2].hem_title}}</h4>
                    </a>
				</div>
			</div>
        </div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
                    <h2>Mars Hemispheres</h2>
                    <a href="{{mars_data['Hemisphere_data'][3]['img_urls']}}" class="thumbnail">
						<img src="{{mars_data['Hemisphere_data'][3]['img_urls']}}" alt="">
                        <h4 style="text-align: left">{{mars_data.Hemisphere_data[3].hem_title}}</h4>
                    </a>
				</div>
			</div>
        </div>
    </div>

</div>


</body>

</html>